body {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

button:focus {
  outline: none;
}

.content {
  min-height: 100vh;
  background-image: url(/images/bg-bottom.svg), url(/images/bg-top.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, top right;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: #f6f6fe;
}
.content .heading {
  color: #6d708d;
  padding: 2em;
}
.content .toggle {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 3em;
  /* Rounded sliders */
}
.content .toggle h4 {
  color: #b3b5c6;
}
.content .toggle .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.content .toggle .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.content .toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #a3a8f0, #696fdd);
  transition: 0.4s;
}
.content .toggle .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.content .toggle input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
.content .toggle input:checked + .slider:before {
  transform: translateX(26px);
}
.content .toggle .slider.round {
  border-radius: 34px;
}
.content .toggle .slider.round:before {
  border-radius: 50%;
}
.content .card-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content .card-list .card {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  color: #494c5f;
  border-radius: 1em;
}
.content .card-list .card .top-card {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}
.content .card-list .card .top-card .price {
  display: flex;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.content .card-list .card .top-card .price span {
  font-size: 2em;
}
.content .card-list .card .mid-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.content .card-list .card .mid-card .card-desc {
  text-align: center;
  width: 80%;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  border-top: 2px solid #f0f0f0;
}
.content .card-list .card .mid-card .card-desc:last-child {
  border-bottom: 2px solid #f0f0f0;
}
.content .card-list .card .end-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.content .card-list .card .end-card .submit-button {
  width: 80%;
  padding-top: 1em;
  padding-bottom: 1em;
}
.content .card-list .card .end-card .submit-button button {
  background: linear-gradient(90deg, #a3a8f0, #696fdd);
  color: white;
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 0.5em;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid;
}
.content .card-list .card .end-card .submit-button button:hover {
  background: rgba(105, 111, 221, 0);
  border: 2px solid #696fdd;
  color: #696fdd;
}
.content .card-list #pro-card {
  background: linear-gradient(90deg, #a3a8f0, #696fdd);
  color: white;
}
.content .card-list #pro-card .end-card .submit-button button {
  background: white;
  color: #696fdd;
  border: 2px solid white;
}
.content .card-list #pro-card .end-card .submit-button button:hover {
  background: rgba(105, 111, 221, 0);
  border: 2px solid white;
  color: white;
}

@media screen and (min-width: 700px) and (max-width: 949px) {
  .content .card-list .card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }
  .content .card-list .card .top-card {
    align-items: center;
  }
  .content .card-list .card .mid-card {
    width: 100%;
  }
  .content .card-list .card .end-card {
    width: 100%;
  }
}
@media screen and (min-width: 950px) {
  .content .card-list {
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
  }
  .content .card-list #basic-card {
    border-radius: 1em 0 0 1em;
  }
  .content .card-list #pro-card {
    margin-top: 0;
    margin-bottom: 0;
  }
  .content .card-list #master-card {
    border-radius: 0 1em 1em 0;
  }
}